

body {
	line-height: 1;
	box-sizing: border-box;
	background-color: #13181d;
}

body {
	line-height: 1;
	box-sizing: border-box;
	background-color: #13181d;
}

.icon-home:before {
  content: '\e81f';
  color:var(--generic);
}

.icon-linkedin-squared:before {
	content: '\f30c';
	color: var(--linkedin);
}

.icon-github-squared:before {
	content: '\f300';
	color: var(--github);
}

.icon-codeopen:before {
	content: '\f1cb';
	color: var(--codeopen);
}
.icon-mail-alt:before {
	content: '\f0e0';
	color: var(--gmail);
}

.aGithub,
.aGithub:link,
.aGithub:hover,
.aGithub:visited,
.aGithub:active,
.aCodepen,
.aCodepen:link,
.aCodepen:hover,
.aCodepen:visited,
.aCodepen:active,
.amail,
.amail:link,
.amail:hover,
.amail:visited,
.amail:active,
.alinkedin:link,
.alinkedin,
.alinkedin:hover,
.alinkedin:visited,
.alinkedin:active    {
	text-decoration: none;
}

.aGithub:hover {
	color: white;
}

.alinkedin:hover {
  color: #0077B5;
}

.amail:hover {
	color: #D54D40;
}

.aCodepen:hover {
	color: #000;
}

.aGithub:hover,
.alinkedin:hover,
.amail:hover,
.aCodepen:hover {
	text-decoration: underline;
}


